# server
MOUBAN_SERVER_PORT=8080
MOUBAN_SERVER_MODE=release

# user refresh policy
MOUBAN_USER_RECHECK_INTERVAL=1h

# agent
MOUBAN_AGENT_ENABLE=false
MOUBAN_AGENT_USER_CONCURRENCY=3
MOUBAN_AGENT_ITEM_CONCURRENCY=3
MOUBAN_AGENT_ITEM_MAX=3000
MOUBAN_AGENT_DISCOVER_LEVEL=0
MOUBAN_AGENT_ORPHAN_EXPIRE=6h

# feature switches
MOUBAN_CRAWL_ENABLE=true
MOUBAN_STORAGE_ENABLE=true

# datasource (required)
MOUBAN_DATASOURCE_HOST=localhost
MOUBAN_DATASOURCE_PORT=3306
MOUBAN_DATASOURCE_DATABASE=mouban
MOUBAN_DATASOURCE_USERNAME=root
MOUBAN_DATASOURCE_PASSWORD=123456
MOUBAN_DATASOURCE_CHARSET=utf8mb4
MOUBAN_DATASOURCE_LOC=Asia/Shanghai

# crawl http (required when MOUBAN_CRAWL_ENABLE=true)
MOUBAN_HTTP_TIMEOUT=10000
MOUBAN_HTTP_RETRY_MAX=20
MOUBAN_HTTP_INTERVAL_USER=4000
MOUBAN_HTTP_INTERVAL_ITEM=4000
MOUBAN_HTTP_INTERVAL_DISCOVER=4000
MOUBAN_HTTP_AUTH=42342343:rwedsf32,https://user:password@host:port;

# storage s3 (required when MOUBAN_STORAGE_ENABLE=true)
MOUBAN_S3_ENDPOINT=https://minio.mythsman.com
MOUBAN_S3_REGION=us-east-1
MOUBAN_S3_BUCKET=douban
MOUBAN_S3_ACCESS_KEY=aaa
MOUBAN_S3_SECRET_KEY=bbb
