server:
  cors: http://localhost
  port: 8080
  limit: 1h
agent:
  enable: false
  flow:
    discover: false
  user:
    concurrency: 3
  item:
    concurrency: 3
    max: 3000
  discover:
    level: 0 #0-no discover;1-discover by id;2-discover by id and domain
datasource:
  driver: mysql
  host: localhost
  port: 3306
  database: mouban
  username: root
  password: 123456
  charset: utf8mb4
  loc: Asia/Shanghai
influxdb:
  url: http://localhost:8086
  token: 11111
  org: home
  bucket: mouban
http:
  timeout: 10000
  retry_max: 20
  interval:
    user: 4000
    item: 4000
    discover: 4000
  auth: 42342343:rwedsf32,https://user:password@host:port;
minio:
  endpoint: minio.mythsman.com
  id: some_id
  key: some_key
  bucket: douban