server:
  port: 8080
datasource:
  driver: mysql
  host: localhost
  port: 3306
  database: mouban
  username: root
  password: 123456
  charset: utf8mb4
  loc: Asia/Shanghai
http:
  timeout: 10
admin:
  token: ewfdcjojdi